<div id="pageContainer">
  <mat-card class="mat-elevation-z8" id="card">
    <mat-card-title>
      {{this.dataService.recipeItem.name}}
    </mat-card-title>
    <mat-divider id="topDivider" style="border-top-width: 3px; width: 30%"></mat-divider>
    <mat-card-content id="cardContentContainer">
      <img mat-card-image [src]="this.dataService.recipeItem.pictureUrl" class="mat-elevation-z8" alt="" id="image">
      <mat-list class="ingridient">
        <div *ngFor="let cat of this.dataService.recipeItem.categoryList.categoryList">
          <ng-container *ngIf="cat.ingridientList.length != 0;">
            <h3 mat-subheader>
              {{cat.name}}
            </h3>
            <mat-list-item *ngFor="let ing of cat.ingridientList" class="itemContainer">
              <mat-divider style="width: 80%"></mat-divider>
              <p mat-line>{{ing.name}}</p>
              <p mat-line>{{ing.unit}}</p>
              <div *ngIf="this.dataService.recipeItem.name !== 'All Ingredients'">
                <h3 matLine class="amount" *ngIf="ing.unit.toString() === 'Gramm'; else normal">x{{ing.amount}} g</h3>
                <ng-template #normal>
                  <h3 matLine class="amount">x{{ing.amount}} {{ing.unit}}</h3>
                </ng-template>
              </div>
            </mat-list-item>
          </ng-container>
        </div>
      </mat-list>
      <p class="description" style="white-space: pre-line;">
        <mat-divider id="divider"></mat-divider>
        {{this.dataService.recipeItem.description}}
      </p>
    </mat-card-content>
    <mat-card-actions id="buttonContainer">
      <button mat-icon-button class="icons" id="iconLeft" *ngIf="this.dataService.recipeItem.name !== 'All Ingredients'"
              (click)="this.dataService.addRecipeToCart(this.dataService.recipeItem)">
        <mat-icon>add_shopping_cart</mat-icon>
      </button>
      <button mat-icon-button class="icons" [routerLink]="['']">Back</button>
    </mat-card-actions>
  </mat-card>
</div>
