#pageContainer {
  display: grid;
  margin: 2%;
  justify-items: center;
}

#image {
  width: 60%;
  grid-area: picture;
  justify-self: center;
}

#cardContentContainer {
  display: grid;
  grid-template-areas:
    "ing picture"
    "text text";
}
.mat-list-base .mat-list-item .mat-line {
  overflow: visible;
}


.description {
  display: grid;
  margin-top: 2%;
  grid-area: text / text;
}

.ingridient {
  grid-area: ing;
  min-width: min-content;
}
.amount {
  font-size: 2em !important;
  margin-left: 10% !important;
}

#divider {
  margin-bottom: 2%;
  position: unset !important;
  width: 80%;
  justify-self: center;
}
#buttonContainer {
  display: flex;
  justify-content: flex-end;
  padding-top: 0;
  margin-right: 3%;
}

.icons {
  transform: scale(1.5);
}

#iconLeft {
  margin-right: 3%;
}

@media (max-device-width: 500px) {
  #cardContentContainer {
    display: grid;
    grid-template-areas:
      "picture"
      "ing"
      "text";
  }
  #card {
    margin: 3%;
  }
  #image {
    width: 100%;
    grid-area: picture;
    justify-self: center;
  }
  .description {
    display: grid;
    margin-top: 8%;
    grid-area: text / text;
  }
  .amount {
    font-size: 1.5em !important;
    margin-left: 35% !important;
  }
  #topDivider {
    display: none;
  }
  .mat-card-image:first-child {
    margin-top: 0;
  }

}
