.mainPageContainer {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: min-content 1fr;
}

#toolbarContainer {
  display: grid;
  width: 100%;
  height: min-content;
}

#toolbarFirst {
  display: grid;
  grid-template-areas: "home right";
}

#leftButtons {
  grid-area: home;
}

#rightButtons {
  display: flex;
  justify-content: flex-end;
}
