<div class="mainPageContainer">
  <mat-toolbar id="toolbarContainer" color="primary">
    <mat-toolbar-row id="toolbarFirst">
      <div id="leftButtons">
        <button mat-button>
          <mat-icon svgIcon="recipeMenu" [routerLink]="['']"></mat-icon>
        </button>
      </div>
      <div id="rightButtons">
        <button mat-button>
          <mat-icon svgIcon="blender"></mat-icon>
        </button>
        <button mat-button>
          <mat-icon svgIcon="shoppingCart" [routerLink]="['ShoppingCart']"></mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="mainPageMainContent">
    <router-outlet></router-outlet>
  </div>
</div>

