#pageContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, max-content);
  grid-gap: 3%;
}

.cards {
  margin: 3%;
}

#fabButton {
  position: fixed;
  bottom: 1%;
  right: 1%;
  font-size: 3.5em;
  width: 75px;
  height: 75px;
}

#buttonContainer {
  display: flex;
  justify-content: flex-end;
  padding-top: 0;
}

#image {
  margin-top: 1%;
  max-height: 350px;
}

.icons {
  transform: scale(1.5);
}

@media (max-device-width: 1400px) {
  #pageContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 2%;
    justify-items: center;
  }

  .icons {
    transform: scale(1.8);
  }

  #iconLeft {
    margin-right: 5%;
  }

  #fabButton {
    position: fixed;
    bottom: 1%;
    right: 1%;
    font-size: 3em;
  }
}
