<div id="pageContainer">
  <mat-card class="cards mat-elevation-z8" *ngFor="let recipe of recipeList">
    <mat-card-title>{{recipe.name}}</mat-card-title>
    <mat-card-content id="cardContent">
      <img mat-card-image [src]="recipe.pictureUrl" alt="" width="100%" id="image">
    </mat-card-content>
    <mat-card-actions id="buttonContainer">
      <button mat-icon-button class="icons" id="iconLeft">
        <mat-icon>add_shopping_cart</mat-icon>
      </button>
      <button mat-icon-button class="icons"
              (click)="this.dataService.recipeItem">
        <mat-icon>library_books</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
