<div id="pageContainer">
  <mat-card id="card">
    <mat-card-content>
      <div id="cardContentContainer">
        <h1>Add Recipe</h1>
        <form [formGroup]="entireForm" id="formContainer">
          <mat-form-field class="inputField">
            <input matInput type="text" placeholder="Name" formControlName="nameForm">
          </mat-form-field>
          <mat-form-field class="inputField">
            <input matInput type="text" placeholder="Url Picture Link" formControlName="pictureForm">
          </mat-form-field>
          <mat-form-field class="inputField">
            <textarea matInput type="text" placeholder="Description" formControlName="descriptionForm"></textarea>
          </mat-form-field>
          <div id="ingredientFormContainer">
            <mat-accordion id="dropDown">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Ingridient:
                  </mat-panel-title>
                  <mat-panel-description>
                    Choose a ingredient
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="categoryContainer">
                  <mat-radio-group
                    class="radioGroup">
                    <mat-radio-button class="radioButton"
                                      (click)="this.clickedIngredient = ing.name;
                                      ingredientSelected = true;
                                      currentIngredientSelected = ing"
                                      [value]="ing"
                                      *ngFor="let ing of this.dataService.ingridientList.ingridientList">
                      <h4>{{ing.name}}</h4>
                      <p style="font-style: italic">{{ing.unit}}</p>
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
            <div id="catName" *ngIf="ingredientSelected; then button; else emptyButton">
            </div>
            <div id="textBottomLeft">
              <mat-card class="cardText mat-elevation-z2">
                Enter Amount:
              </mat-card>
            </div>
            <mat-form-field id="inputField">
              <label>
                <input matInput type="text" placeholder="Amount" [(ngModel)]="amountForm"
                       [ngModelOptions]="{standalone: true}">
              </label>
            </mat-form-field>
            <button mat-raised-button color="primary" id="submitIngredientButton"
                    (click)="addIngredientLocalArray(currentIngredientSelected, amountForm)">Add
            </button>
          </div>
          <ng-template #button>
            <mat-card class="cards mat-elevation-z2">{{this.clickedIngredient}}</mat-card>
          </ng-template>
          <ng-template #emptyButton>
            <mat-card class="cards mat-elevation-z2"></mat-card>
          </ng-template>
          <div id="ingredientContainer">
            <mat-list>
              <h3 mat-subheader>Ingredients</h3>
              <mat-list-item *ngFor="let ing of this.listIngredientsToAdd">
                <mat-icon mat-list-icon>
                  <mat-icon svgIcon="blender"></mat-icon>
                </mat-icon>
                <p>{{ing.name}} x {{ing.amount}}{{ing.unit}}</p>
              </mat-list-item>
            </mat-list>
          </div>
          <button mat-button (click)="createRecipe()">Add</button>
          <button mat-button [routerLink]="['']">Cancel</button>
        </form>
      </div>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
</div>
